// CONSTANTS
$red: rgb(219, 40, 40);
$orange: rgb(242, 113, 28);
$yellow: rgb(251, 189, 8);
$olive: rgb(181, 204, 24);
$green: rgb(33, 186, 69);
$teal: rgb(0, 181, 173);
$blue: rgb(33, 133, 208);
$violet: rgb(100, 53, 201);
$purple: rgb(163, 51, 200);
$pink: rgb(224, 57, 151);
$brown: rgb(165, 103, 63);
$grey: rgb(118, 118, 118);
$dark-grey: rgb(25, 25, 25);
$white: rgb(255, 255, 255);
$transparent: rgba(255, 255, 255, .08);

$background: 0;
$alpha: .5;
$light-factor: $background*(1-$alpha);

$light-red: rgb($light-factor + 219*$alpha, $light-factor + 40*$alpha, $light-factor + 40*$alpha);
$light-orange: rgb($light-factor + 242*$alpha, $light-factor + 113*$alpha, $light-factor + 28*$alpha);
$light-yellow: rgb($light-factor + 251*$alpha, $light-factor + 189*$alpha, $light-factor + 8*$alpha);
$light-olive: rgb($light-factor + 181*$alpha, $light-factor + 204*$alpha, $light-factor + 24*$alpha);
$light-green: rgb($light-factor + 33*$alpha, $light-factor + 186*$alpha, $light-factor + 69*$alpha);
$light-teal: rgb($light-factor + 0*$alpha, $light-factor + 181*$alpha, $light-factor + 173*$alpha);
$light-blue: rgb($light-factor + 33*$alpha, $light-factor + 133*$alpha, $light-factor + 208*$alpha);
$light-violet: rgb($light-factor + 100*$alpha, $light-factor + 53*$alpha, $light-factor + 201*$alpha);
$light-purple: rgb($light-factor + 163*$alpha, $light-factor + 51*$alpha, $light-factor + 200*$alpha);
$light-pink: rgb($light-factor + 224*$alpha, $light-factor + 57*$alpha, $light-factor + 151*$alpha);
$light-brown: rgb($light-factor + 165*$alpha, $light-factor + 103*$alpha, $light-factor + 63*$alpha);
$light-grey: rgb($light-factor + 118*$alpha, $light-factor + 118*$alpha, $light-factor + 118*$alpha);


// STYLES
body {
  background-color: $dark-grey;
}

table {
  border: none !important;
}

.hide {
  display: none !important;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

.baseline {
  vertical-align: baseline !important;
}

.middle {
  vertical-align: middle !important;
}

.inline {
  display: inline-block !important;
}

.portfolio-item {
  margin-bottom: 5px !important;
  padding: 1.1em 1.5em !important;
}

.compare-item {
  margin-bottom: 5px !important;
  position: relative;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  margin-right: 0px !important;
}

.red {
  color: $red;

  &:hover {
    color: $red;
  }
}

.orange {
  color: $orange;

  &:hover {
    color: $orange;
  }
}

.yellow {
  color: $yellow;

  &:hover {
    color: $yellow;
  }
}

.olive {
  color: $olive;

  &:hover {
    color: $olive;
  }
}

.green {
  color: $green;

  &:hover {
    color: $green;
  }
}

.teal {
  color: $teal;

  &:hover {
    color: $teal;
  }
}

.blue {
  color: $blue;

  &:hover {
    color: $blue;
  }
}

.violet {
  color: $violet;

  &:hover {
    color: $violet;
  }
}

.purple {
  color: $purple;

  &:hover {
    color: $purple;
  }
}

.pink {
  color: $pink;

  &:hover {
    color: $pink;
  }
}

.brown {
  color: $brown;

  &:hover {
    color: $brown;
  }
}

.grey {
  color: $grey;

  &:hover {
    color: $grey;
  }
}

.white {
  color: $white !important;
}

.ui.secondary.pointing.menu .active.item :not(#company-selector) {
  border-color: $white !important;
}

.ui.selectable.table tbody tr[id$="-row"] {
  &.hover, &:hover {
    background-color: rgba(255, 255, 255, .08) !important;
    color: $white !important;
  }
}

.ui.basic.button {
  &.red.hover {
    background-color: $light-red !important;
  }

  &.orange.hover {
    background-color: $light-orange !important;
  }

  &.yellow.hover {
    background-color: $light-yellow !important;
  }

  &.olive.hover {
    background-color: $light-olive !important;
  }

  &.green.hover {
    background-color: $light-green !important;
  }

  &.teal.hover {
    background-color: $light-teal !important;
  }

  &.blue.hover {
    background-color: $light-blue !important;
  }

  &.violet.hover {
    background-color: $light-violet !important;
  }

  &.purple.hover {
    background-color: $light-purple !important;
  }

  &.pink.hover {
    background-color: $light-pink !important;
  }

  &.brown.hover {
    background-color: $light-brown !important;
  }

  &.grey.hover {
    background-color: $light-grey !important;
  }
}

.ui.circular.button {
  border: white 1px solid;
}

.ui.inverted.button {
  box-shadow: 0 0 0 1px #fff inset !important;
}

.ui.button:hover .icon.button {
  opacity: 1;
}

i.caret.icon {
  margin: 0 !important;
}

.stats-table {
  margin: auto;

  tr td {
    border-top: 0px !important;
    text-align: right !important;
  }
}

.label {
  margin-left: 1em !important;

  &.red {
    color: $red !important;
  }

  &.green {
    color: $green !important;
  }
}

.ui.menu.selector .item {
  padding: .75em !important;
}

.graph-container {
  width: 100%;

  &.portfolio {
    height: 25vh;
  }

  &.compare {
    height: 40vh;
  }

  &.company {
    height: 30vh;
  }
}

#compare-stocks {
  margin-top: 5px;
}

#company-buy-button {
  padding: 1.1em 1.5em;
}

#company-selector {
  margin-top: -2.5em;
}

#company-header {
  margin: 1rem 2rem 1rem 0;
}

#buy-shares-container {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

#buy-divider {
  margin: 1.25rem 0;
}

path {
  fill: none;
  stroke: $white;
  stroke-width: 2;

  &.thick {
    stroke-width: 3;

    &.very {
      stroke-width: 4;
    }
  }

  &.fill {
    pointer-events: all;
  }

  &.red {
    stroke: $red;

    &.fill {
      stroke: none;
      fill: $light-red;
    }

    &.hover {
      fill: $red;
    }
  }

  &.orange {
    stroke: $orange;

    &.fill {
      stroke: none;
      fill: $light-orange;
    }

    &.hover {
      fill: $orange;
    }
  }

  &.yellow {
    stroke: $yellow;

    &.fill {
      stroke: none;
      fill: $light-yellow;
    }

    &.hover {
      fill: $yellow;
    }
  }

  &.olive {
    stroke: $olive;

    &.fill {
      stroke: none;
      fill: $light-olive;
    }

    &.hover {
      fill: $olive;
    }
  }

  &.green {
    stroke: $green;

    &.fill {
      stroke: none;
      fill: $light-green;
    }

    &.hover {
      fill: $green;
    }
  }

  &.teal {
    stroke: $teal;

    &.fill {
      stroke: none;
      fill: $light-teal;
    }

    &.hover {
      fill: $teal;
    }
  }

  &.blue {
    stroke: $blue;

    &.fill {
      stroke: none;
      fill: $light-blue;
    }

    &.hover {
      fill: $blue;
    }
  }

  &.violet {
    stroke: $violet;

    &.fill {
      stroke: none;
      fill: $light-violet;
    }

    &.hover {
      fill: $violet;
    }
  }

  &.purple {
    stroke: $purple;

    &.fill {
      stroke: none;
      fill: $light-purple;
    }

    &.hover {
      fill: $purple;
    }
  }

  &.pink {
    stroke: $pink;

    &.fill {
      stroke: none;
      fill: $light-pink;
    }

    &.hover {
      fill: $pink;
    }
  }

  &.brown {
    stroke: $brown;

    &.fill {
      stroke: none;
      fill: $light-brown;
    }

    &.hover {
      fill: $brown;
    }
  }
}

rect {
  &[id$="capture"] {
    fill: none;
    pointer-events: all;
  }

  &[id$="hover-rect"] {
    fill: $transparent;
    pointer-events: none;
  }
}

line {
  stroke: $grey;

  &[id$="baseline"] {
    stroke-width: 1;
    stroke-dasharray: 10, 10;
  }

  &[id$="hover-line"] {
    stroke-width: 2;
    pointer-events: none;
  }
}

text.baseline-label {
  fill: $grey;
  font-size: 12px;
}
