table {
  border: none !important;
}

.hide {
  display: none !important;
}

.left {
  text-align: left !important;
}

.middle {
  vertical-align: middle !important;
}

.inline {
  display: inline-block !important;
}

.compare-item {
  margin-bottom: 5px !important;
  position: relative;
}

#modal-buy-button {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: 8px;
}

.remove {
  position: absolute;
  top: 5px;
  right: 0px;
}