// CONSTANTS
$red: rgb(219, 40, 40);
$orange: rgb(242, 113, 28);
$yellow: rgb(251, 189, 8);
$olive: rgb(181, 204, 24);
$green: rgb(33, 186, 69);
$teal: rgb(0, 181, 173);
$blue: rgb(33, 133, 208);
$violet: rgb(100, 53, 201);
$purple: rgb(163, 51, 200);
$pink: rgb(224, 57, 151);
$brown: rgb(165, 103, 63);
$white: rgb(255, 255, 255);

$background: 0;
$alpha: .7;
$factor: $background * (1-$alpha);
$dark-red: rgb($factor + 219*$alpha, $factor + 40*$alpha, $factor + 40*$alpha);
$dark-orange: rgb($factor + 242*$alpha, $factor + 113*$alpha, $factor + 28*$alpha);
$dark-yellow: rgb($factor + 251*$alpha, $factor + 189*$alpha, $factor + 8*$alpha);
$dark-olive: rgb($factor + 181*$alpha, $factor + 204*$alpha, $factor + 24*$alpha);
$dark-green: rgb($factor + 33*$alpha, $factor + 186*$alpha, $factor + 69*$alpha);
$dark-teal: rgb($factor + 0*$alpha, $factor + 181*$alpha, $factor + 173*$alpha);
$dark-blue: rgb($factor + 33*$alpha, $factor + 133*$alpha, $factor + 208*$alpha);
$dark-violet: rgb($factor + 100*$alpha, $factor + 53*$alpha, $factor + 201*$alpha);
$dark-purple: rgb($factor + 163*$alpha, $factor + 51*$alpha, $factor + 200*$alpha);
$dark-pink: rgb($factor + 224*$alpha, $factor + 57*$alpha, $factor + 151*$alpha);
$dark-brown: rgb($factor + 165*$alpha, $factor + 103*$alpha, $factor + 63*$alpha);

$bg: rgb(27, 28, 29);
$light-grey: rgb(177.65, 178.35, 179.05);
$dark-grey: rgb(56.1, 56.65, 57.2);
$row-hover: rgba(255, 255, 255, .08);
$hover: rgba(255, 255, 255, .95);
$dark-hover: rgba(27, 28, 29, .95);


// STYLES
body {
  background-color: $bg;
}

table {
  border: none !important;
}

.red {
  color: $red;

  &:hover {
    color: $red;
  }
}

.orange {
  color: $orange;

  &:hover {
    color: $orange;
  }
}

.yellow {
  color: $yellow;

  &:hover {
    color: $yellow;
  }
}

.olive {
  color: $olive;

  &:hover {
    color: $olive;
  }
}

.green {
  color: $green;

  &:hover {
    color: $green;
  }
}

.teal {
  color: $teal;

  &:hover {
    color: $teal;
  }
}

.blue {
  color: $blue;

  &:hover {
    color: $blue;
  }
}

.violet {
  color: $violet;

  &:hover {
    color: $violet;
  }
}

.purple {
  color: $purple;

  &:hover {
    color: $purple;
  }
}

.pink {
  color: $pink;

  &:hover {
    color: $pink;
  }
}

.brown {
  color: $brown;

  &:hover {
    color: $brown;
  }
}

.hide {
  display: none !important;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

.baseline {
  vertical-align: baseline !important;
}

.middle {
  vertical-align: middle !important;
}

.inline {
  display: inline-block !important;
}

.portfolio-item {
  margin-bottom: 5px !important;
  padding: 1.1em 1.5em !important;
}

.compare-item {
  margin-bottom: 5px !important;
  position: relative;
}

.check-button {
  margin-right: .75em !important;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  margin-right: 0px !important;
}

tr[id$="-row"].hover {
  background-color: $row-hover !important;
}

i.caret.icon {
  margin: 0 !important;
}

.stats-table {
  margin: auto;

  tr td {
    border-top: 0px !important;
    text-align: right !important;
  }
}

.label {
  margin-left: 1em !important;

  &.red {
    color: $red !important;
  }

  &.green {
    color: $green !important;
  }
}

.graph-container {
  width: 100%;
  padding-top: 20px;

  &.portfolio {
    height: 25vh;
  }

  &.compare {
    height: 40vh;
  }

  &.company {
    height: 30vh;
  }
}

.company-button {
  padding: 1.1em 1.5em !important;
}

.shares-container {
  padding-top: .25rem !important;
  padding-bottom: .25rem !important;
}

.shares-divider {
  margin: 1.25rem 0 !important;
}

.ui.button {
  &.circular {
    &.hover {
      box-shadow: 0 0 0 1px $light-grey inset;
    }

    &.positive {
      color: $white !important;
      background-color: $green !important;
    }

    &.dark {
      background-color: transparent !important;
      box-shadow: 0 0 0 1px $white inset !important;

      &.checked {
        background-color: $white !important;

        &:hover {
          background-color: transparent !important;
        }
      }

      &:hover {
        background-color: transparent !important;
        box-shadow: 0 0 0 2px $white inset !important;
      }
    }
  }

  &.white{
    box-shadow: 0 0 0 1px $white inset !important;
    background-color: transparent;
    color: $white;

    &:hover {
      box-shadow: 0 0 0 2px $white inset !important;
    }
  }

  &.red {
    &:hover {
      background-color: $red;
    }

    &.dark {
      background-color: $dark-red;
    }

    &.checked {
      color: $red !important;

      &:hover {
        color: $white !important;
      }
    }
  }

  &.orange {
    &:hover {
      background-color: $orange;
    }

    &.dark {
      background-color: $dark-orange;
    }

    &.checked {
      color: $orange !important;

      &:hover {
        color: $white !important;
      }
    }
  }

  &.yellow {
    &:hover {
      background-color: $yellow;
    }

    &.dark {
      background-color: $dark-yellow;
    }

    &.checked {
      color: $yellow !important;

      &:hover {
        color: $white !important;
      }
    }
  }

  &.olive {
    &:hover {
      background-color: $olive;
    }

    &.dark {
      background-color: $dark-olive;
    }

    &.checked {
      color: $olive !important;

      &:hover {
        color: $white !important;
      }
    }
  }

  &.green {
    &:hover {
      background-color: $green;
    }

    &.dark {
      background-color: $dark-green;
    }

    &.checked {
      color: $green !important;

      &:hover {
        color: $white !important;
      }
    }
  }

  &.teal {
    &:hover {
      background-color: $teal;
    }

    &.dark {
      background-color: $dark-teal;
    }

    &.checked {
      color: $teal !important;

      &:hover {
        color: $white !important;
      }
    }
  }

  &.blue {
    &:hover {
      background-color: $blue;
    }

    &.dark {
      background-color: $dark-blue;
    }

    &.checked {
      color: $blue !important;

      &:hover {
        color: $white !important;
      }
    }
  }

  &.violet {
    &:hover {
      background-color: $violet;
    }

    &.dark {
      background-color: $dark-violet;
    }

    &.checked {
      color: $violet !important;

      &:hover {
        color: $white !important;
      }
    }
  }

  &.purple {
    &:hover {
      background-color: $purple;
    }

    &.dark {
      background-color: $dark-purple;
    }

    &.checked {
      color: $purple !important;

      &:hover {
        color: $white !important;
      }
    }
  }

  &.pink {
    &:hover {
      background-color: $pink;
    }

    &.dark {
      background-color: $dark-pink;
    }

    &.checked {
      color: $pink !important;

      &:hover {
        color: $white !important;
      }
    }
  }

  &.brown {
    &:hover {
      background-color: $brown;
    }

    &.dark {
      background-color: $dark-brown;
    }

    &.checked {
      color: $brown !important;

      &:hover {
        color: $white !important;
      }
    }
  }
}

.ui.button:hover .icon.button {
  opacity: 1;
}

.ui.secondary.inverted.pointing.menu {
  border-width: 0;
  border-bottom: 2px solid $dark-grey;
}

.ui.menu.selector .item {
  padding: .75em !important;
}

#compare-stocks {
  margin-top: 5px;
}

#company-selector {
  margin-top: -2.5em;
}

#company-header {
  margin: 1rem 2rem 1rem 0;
}

#articles {
  .ui.sub.header {
    margin-top: 0 !important;
  }
}

path {
  fill: none;
  stroke: $light-grey;
  stroke-width: 2;

  &.thin {
    stroke-width: 1;
  }

  &.thick {
    stroke-width: 3;

    &.very {
      stroke-width: 4;
    }
  }

  &.fill {
    pointer-events: all;
  }

  &.red {
    stroke: $red;

    &.fill {
      stroke: none;
      fill: $dark-red;
    }

    &.hover {
      fill: $red;
    }

    &.dark {
      stroke: $dark-red;
    }
  }

  &.orange {
    stroke: $orange;

    &.fill {
      stroke: none;
      fill: $dark-orange;
    }

    &.hover {
      fill: $orange;
    }

    &.dark {
      stroke: $dark-orange;
    }
  }

  &.yellow {
    stroke: $yellow;

    &.fill {
      stroke: none;
      fill: $dark-yellow;
    }

    &.hover {
      fill: $yellow;
    }

    &.dark {
      stroke: $dark-yellow;
    }
  }

  &.olive {
    stroke: $olive;

    &.fill {
      stroke: none;
      fill: $dark-olive;
    }

    &.hover {
      fill: $olive;
    }

    &.dark {
      stroke: $dark-olive;
    }
  }

  &.green {
    stroke: $green;

    &.fill {
      stroke: none;
      fill: $dark-green;
    }

    &.hover {
      fill: $green;
    }

    &.dark {
      stroke: $dark-green;
    }
  }

  &.teal {
    stroke: $teal;

    &.fill {
      stroke: none;
      fill: $dark-teal;
    }

    &.hover {
      fill: $teal;
    }

    &.dark {
      stroke: $dark-teal;
    }
  }

  &.blue {
    stroke: $blue;

    &.fill {
      stroke: none;
      fill: $dark-blue;
    }

    &.hover {
      fill: $blue;
    }

    &.dark {
      stroke: $dark-blue;
    }
  }

  &.violet {
    stroke: $violet;

    &.fill {
      stroke: none;
      fill: $dark-violet;
    }

    &.hover {
      fill: $violet;
    }

    &.dark {
      stroke: $dark-violet;
    }
  }

  &.purple {
    stroke: $purple;

    &.fill {
      stroke: none;
      fill: $dark-purple;
    }

    &.hover {
      fill: $purple;
    }

    &.dark {
      stroke: $dark-purple;
    }
  }

  &.pink {
    stroke: $pink;

    &.fill {
      stroke: none;
      fill: $dark-pink;
    }

    &.hover {
      fill: $pink;
    }

    &.dark {
      stroke: $dark-pink;
    }
  }

  &.brown {
    stroke: $brown;

    &.fill {
      stroke: none;
      fill: $dark-brown;
    }

    &.hover {
      fill: $brown;
    }

    &.dark {
      stroke: $dark-brown;
    }
  }
}

rect {
  pointer-events: none;

  &[id$="capture"] {
    fill: none;
    pointer-events: all;
  }

  &[id$="hover-rect"] {  
    fill: $hover;

    &.dark {
      fill: $dark-hover;
    }
  }
}

line {
  stroke: $light-grey;
  pointer-events: none;

  &[id$="baseline"] {
    stroke-width: 1;
  }

  &[id$="hover-line"] {
    stroke-width: 2;
  }
}

text {
  fill: $light-grey;
  font-size: 12px;
}
