table {
  border: none !important; }

.hide {
  display: none; }

.left {
  text-align: left !important; }

.middle {
  vertical-align: middle !important; }

.inline {
  display: inline-block !important; }

.compare-item {
  margin-bottom: 5px !important; }
